name: Create Chat Sample Release

on:
  release:
    types: [created]
    name: Release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Build
        shell: bash
        run: |
          release_name=Group-Chat
          unset CI
          # Build everything
          npm run setup
          npm run build
          npm run package

          7z a -tzip -r "group-chat.zip" ./Chat/dist/*

          # Delete output directory
          rm -r "./Chat/dist"

      - name: Publish
        permissions:
          contents: write
        uses: softprops/action-gh-release@v1
        with:
          files: "group-chat.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
